/*
  Navigation - top/sidebar
*/

// Top Bar
#topbar {
  width: 100%;
  color: $c-main;
  position: fixed;
  z-index: $z-topbar;
  background: $c-background;
  font-family: $font-display;
  border-bottom: 1px solid $c-border;
  &::before {
    width: 100%;
    content: ' ';
    display: block;
    height: 0.15rem;
    background: $c-main;
  }
  .col {
    padding: 0.5rem;
    .menu {
      float:left;
    }
    .page-title {
      font-weight: 700;
    }
  }
  nav {
    a {
      color: $c-muted;
      font-weight: 700;
      font-size: .75rem;
      padding-left: .5rem;
      text-transform: uppercase;
      font-family: $font-display;
      &:not(:last-of-type) {
        padding-right: .5rem;
      }
      &.active, &:hover {
        color: $c-main;
      }
      small {
        display: none;
      }
    }
  }
}


// Sidebar
#sidebar {
  top: 0;
  left: -10rem;
  width: 10rem;
  height: 100%;
  position: fixed;
  padding-top: 2.3rem;
  z-index: $z-sidebar;
  background: $c-background;
  border-right: 1px solid $c-border;
  transition: left .25s;
  -webkit-transition: left .25s;
  &.active {
    left: 0;
  }
  a {
    color: $c-text;
    display: block;
    font-weight: 700;
    font-size: .75rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-family: $font-display;
    border-right: 4px solid $c-border;
    border-bottom: 1px solid $c-border;
    &.active {
      background-color: $c-border;
      border-right-color: $c-main;
    }
    small {
      display: block;
      color: $c-muted;
    }
  }
  footer {
    bottom: 0;
    font-weight: 700;
    font-family: $font-display;
    padding: .5rem 1rem;
    position: absolute;
    font-size: 0.75rem;
    color: $c-muted;
    a {
      border: none;
      color: $c-subtle;
      padding: 0 .2rem 0 0;
      text-transform: none;
      display: inline-block;
    }
  }
}
