/*
  Navigation - top/sidebar
*/

// Top Bar
#topbar {
  width: 100%;
  color: $c-text;
  z-index: $z-topbar;
  position: relative;
  background: $c-main;
  .upper {
    padding: .25rem 1rem;
    background: $c-main-dark;
  }
  .main {
    padding: .5rem 1rem;
    .menu {
      margin-right: .5rem;
      display: inline-block;
    }
    .title {
      margin: 0;
      padding: 0;
      font-size: 1rem;
    }
  }
}


// Sidebar
#sidebar {
  top: 0;
  left: -10rem;
  width: 10rem;
  height: 100%;
  display: block;
  position: fixed;
  z-index: $z-sidebar;
  transition: left .25s;
  -webkit-transition: left .25s;
  background: $c-border;
  &.active {
    left: 0;
  }
  #nav {
    margin: 4rem 0 0 0;
    a {
      color: $c-text;
      display: block;
      font-weight: 700;
      font-size: .85rem;
      line-height: .85rem;
      padding: .5rem 1rem;
      font-family: $font-display;
      &.active {
        background-color: $c-background;
      }
      small {
        display: block;
        color: $c-subtle;
        text-transform: uppercase;
      }
    }
  }
}

// Pages
#pages {
  section {
    display: none;
    &.active {
      display: block;
    }
  }
  footer {
    bottom: 0;
    width: 100%;
    color: $c-muted;
    font-size: .75rem;
    padding: 1.5rem 1rem 1rem;
    position: absolute;
    text-align: center;
    a {
      color: $c-muted;
      text-decoration: underline;
    }
  }
}
