/*
  Variables - For the site, obviously.
*/

// define app color variables
$c-background: $clr-blue-grey-900;
$c-border: $clr-blue-grey-800;

$c-text: $clr-grey-200;
$c-subtle: $clr-grey-400;
$c-muted: $clr-grey-600;

$c-main: $clr-red-700;
$c-main-dark: $clr-red-900;

$c-accent: $clr-orange-700;
$c-accent-dark: $clr-orange-900;

$c-link: $c-accent;
$c-link-hover: $c-accent;

// generator to build helpers
@mixin colorClass($color, $tag) {
  .c-#{$tag} { color: $color; }
  .bg-#{$tag} { background-color: $color; }
}

// generate dem color helpers
@include colorClass($c-background, "background");
@include colorClass($c-border, "border");
@include colorClass($c-accent, "accent");
@include colorClass($c-main, "main");
@include colorClass($c-text, "text");
@include colorClass($c-subtle, "subtle");
@include colorClass($c-muted, "muted");

// fonts
$font-body: "Open Sans", sans-serif;
$font-display: "Montserrat", sans-serif;

// z-index's
$z-modal: 10;
$z-topbar: 9;
$z-sidebar: 8;
