/*
  Variables - For the site, obviously.
*/

// define app color variables
$c-background: $clr-grey-50;
$c-border: $clr-grey-200;

$c-text: $clr-grey-900;
$c-subtle: $clr-grey-600;
$c-muted: $clr-grey-400;

$c-main: $clr-teal-a700;
$c-main-dark: $clr-teal-700;
$c-main-light: $clr-teal-200;

$c-accent: $clr-cyan-600;
$c-accent-dark: $clr-cyan-800;
$c-accent-light: $clr-cyan-200;

$c-link: $c-accent;
$c-link-hover: $c-accent;

// Overwrite Grid Breakpoints

$gl-xs: "screen and (max-width: 35.5em)";
$gl-sm: "screen and (max-width: 35.5em)";
$gl-md: "screen and (min-width: 35.51em)";
$gl-lg: "screen and (min-width: 35.51em)";

// generator to build helpers
@mixin colorClass($color, $tag) {
  .c-#{$tag} { color: $color; }
  .bg-#{$tag} { background-color: $color; }
}

// generate dem color helpers
@include colorClass($c-background, "background");
@include colorClass($c-border, "border");
@include colorClass($c-accent, "accent");
@include colorClass($c-main, "main");
@include colorClass($c-text, "text");
@include colorClass($c-subtle, "subtle");
@include colorClass($c-muted, "muted");

// fonts
$font-body: "Open Sans", sans-serif;
$font-display: "Montserrat", sans-serif;

// z-index's
$z-modal: 10;
$z-topbar: 9;
$z-sidebar: 8;
