<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Title -->
  <title>_blank</title>

  <!-- Google Fonts: Open Sans & Montserrat -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="./css/app.css">

</head>
<body>

  <!-- BlankApp -->
  <blank id="app">

    <!-- Navigation -->
    <yield to="navigation">
      <a href="#home" class="active">Home</a>
      <a href="#about">
        About
        <small>Information</small>
      </a>
    </yield>

    <!-- Pages -->
    <yield to="pages">
      <section id="home" class="active">
        <home></home>
      </section>
      <section id="about">
        About!
      </section>
    </yield>

  </blank>

  <!-- Vendor Scripts -->
  <script src="./js/vendor.js"></script>

  <!-- App Scripts -->
  <script src="./js/app.js"></script>

  <script>
    riot.mount("blank");
  </script>
</body>
</html>
